.form-container{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.mat-form-field-subscript-wrapper {
    padding-bottom: 12px !important;
}

.mat-padding-reg{
    padding-right: 4px !important;
}

