<div class="song-cards">
  <ng-container *ngFor="let song of songs; let i = index">
    <mat-card class="example-card">
      <img mat-card-image [src]="song.thumbnail" alt="Song Image" />
      <mat-icon mat-list-icon class="play-circle" (click)="playSong(i)"
        >play_circle_filled</mat-icon
      >
      <div>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <h3 class="song-name">{{ song.name }}</h3>
        <h5 class="song-author">{{ song.author }}</h5>
      </div>
      <!-- <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content> -->
      <mat-card-actions>
        <!-- <button mat-button  (click)="playSong(i)">PLAY</button> -->
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
