.fx {
  display: flex;
  // flex: 1;
  padding: 8px;
  // flex-basis: 50%;
  justify-content: space-around;
}

.classOne {
  flex-basis: 30%;
}
.classTwo {
  flex-basis: 54%;
}

.thumb-section {
  display: flex;
}

.thumb-img {
  display: block;
  width: 100%;
  height: auto;
}
